:global(html) {
	font-size: 62.5%;
	color-scheme: dark light;
	accent-color: var(--color-accent);
}

:global(body) {
	background: var(--color-bg);
	color: var(--color-copy);
	font-size: 1.6rem;
	font-family: var(--font-family);
	line-height: 1.5;
	max-inline-size: 144rem;
	margin-inline: auto;
}

:global(a) {
	color: inherit;
}

:global(b) {
	font-weight: 700;
}

:global(small) {
	font-size: 0.875em;
}

:global(:where(a, input, summary, button, select):focus:not(:focus-visible)) {
	outline: none;
}

:global(:where(a, input, summary, button, select):focus-visible) {
	outline: 0.2rem solid currentColor;
	outline-offset: 0.4rem;
	transition: 0.1s outline ease;
}

:global(:where(a, input, summary, select):focus-visible) {
	outline-color: currentColor;
}

:global(button:focus-visible) {
	outline-color: var(--color-copy);
}

:global(summary) {
	cursor: default;
}

:global(code) {
	font-family: monospace;
}
